.group-header {
    .tab-list {
        display: flex;
    }
    .tab-item {
        & + .tab-item {
            padding-left: 26px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 4px;
                left: 13px;
                width: 1px;
                height: 15px;
                background-color: #d3d5d7;
                background-color: var(--color_dot_divider);
                transform: skewX(-15deg);
            }
        }
        a {
            display: block;
            font-size: 1.6rem;
            line-height: 23px;
            font-weight: 800;
            color: rgba(8, 8, 8, 0.5);
            &:hover {
                text-decoration: underline;
            }
        }
        &.on {
            a {
                color: #000;
            }
        }
    }
}
