#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 1280px;
    height: 215px;
    margin: 0 auto;

    .group-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: absolute;
        top: 52px;
        width: 100%;
    }

    .search-area {
        display: flex;
        width: 706px;
        border: 1px solid #03c75a;
        border-radius: 33px;
        background-color: #fff;

        .logo {
            a {
                display: block;
                padding: 17px 16px 17px 27px;
            }
            svg {
                width: 24px;
                fill: #03c75a;
            }
        }

        .search-form {
            flex: 1;
            fieldset {
                display: flex;
                height: 100%;
            }
            .input-text {
                flex: 1;

                color: #000;
                color: var(--color_search);
                padding: 17px 0;
                background-color: rgba(0, 0, 0, 0);
                box-sizing: border-box;
                font-size: 2rem;
                line-height: 24px;
                font-weight: bold;
                outline: 0;
                border: 0;
            }
            .btn-keyboard {
                padding: 22px 3px;
                &::before {
                    @extend .sp-bg;

                    display: block;
                    content: "";
                    width: 24px;
                    height: 14px;
                    background-position: -240px -270px;
                }
            }
            .btn-auto {
                padding: 26px 6px;
                &::before {
                    @extend .sp-bg;

                    display: block;
                    content: "";
                    width: 10px;
                    height: 6px;
                    background-position: -123px -98px;
                }
            }
            .btn-submit {
                padding: 17px 27px 16px 10px;
                svg {
                    width: 25px;
                }
            }
        }
    }
    .nav-area {
        width: 676px;
        .nav-list {
            display: flex;
        }
        .nav-item {
            width: 64px;
            & + .nav-item {
                margin-left: -3px;
            }
        }
        .link {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
        }

        [class*="ico-"] {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 44px;
            height: 44px;
            &::before {
                @extend .sp-bg;

                content: "";
                position: absolute;
                top: -1px;
                left: -3px;
                background-position: -193px 0px;
                width: 50px;
                height: 50px;
            }
            &::after {
                @extend .sp-bg;

                content: "";
                width: 40px;
                height: 40px;
                position: relative;
                z-index: 2;
            }
        }
        .nav-item:nth-child(1) i::after {
            background-position: -244px -41px;
        }
        .nav-item:nth-child(2) i::after {
            background-position: -86px -184px;
        }
        .nav-item:nth-child(3) i::after {
            background-position: -45px -184px;
        }
        .nav-item:nth-child(4) i::after {
            background-position: -164px -229px;
        }
        .nav-item:nth-child(5) i::after {
            background-position: -82px -229px;
        }
        .nav-item:nth-child(6) i::after {
            background-position: -285px 0px;
        }
        .nav-item:nth-child(7) i::after {
            background-position: -123px -229px;
        }
        .nav-item:nth-child(8) i::after {
            background-position: -244px -82px;
        }
        .nav-item:nth-child(9) i::after {
            background-position: -285px -41px;
        }
        .nav-item:nth-child(10) i::after {
            background: url("../images/h_10.png") no-repeat center / cover;
        }
        .nav-item:nth-child(11) i::after {
            background-position: 0px -229px;
        }
    }
    .util-area {
        display: flex;
        &.left {
            margin-left: -12px;
        }
        &.right {
            margin-right: -12px;
        }

        [class*="btn-"] {
            padding: 8px;
            &::before {
                @extend .sp-bg;

                content: "";
                display: block;
                width: 32px;
                height: 32px;
            }
        }
        .btn-menu::before {
            background-position: -285px -214px;
        }
        .btn-pay::before {
            background-position: -326px -33px;
        }
        .btn-talk::before {
            background-position: -326px -165px;
        }
        .btn-alert::before {
            background-position: -246px -229px;
        }
        .btn-cart::before {
            background-position: -326px -99px;
        }
    }
}
